* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main__Header {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  margin: 20px 40px 20px;
}

.main__Account {
  width: 10%;
  display: flex;
  margin: 40px 40px 20px;
  justify-content: space-evenly;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}

.stats_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats__Shower {
  display: flex;
  align-items: center;

  margin-left: 25rem;
  flex: 1;
}

.stats__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.states_Container {
  flex: 1;
  margin-left: 15rem;
}

.links {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
}

.cases__Form {
  margin-top: 20rem;
  height: 30rem;
  width: 40rem;
  position: absolute;
  left: 50rem;
}

.piechart__Stats {
  display: flex;
  align-items: center;
  position: relative;
  left: 20rem;
}
